AWS_ACCESS_KEY_ID=ABC123
AWS_SECRET_ACCESS_KEY=ABC123
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

DEV_NODEPING_TOKEN=ABC123
DEV_CONTACT_GROUP_NAME=Team Alerts
DEV_COUNT_LIMIT=3
DEV_PERIOD=LastMonth
DEV_SPREADSHEET_ID=ABC123

DEV_GOOGLE_AUTH_CLIENT_EMAIL=example@myaccount-123.iam.gserviceaccount.com
DEV_GOOGLE_AUTH_PRIVATE_KEY_ID=abc123
DEV_GOOGLE_AUTH_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIE...\n...\nabc=\n-----END PRIVATE KEY-----\n
DEV_GOOGLE_AUTH_TOKEN_URI=https://oauth2.googleapis.com/token

PROD_NODEPING_TOKEN=DEF456
PROD_CONTACT_GROUP_NAME=Team Alerts
PROD_COUNT_LIMIT=0
PROD_PERIOD=LastMonth
PROD_SPREADSHEET_ID=DEF456

PROD_GOOGLE_AUTH_CLIENT_EMAIL=example@myaccount-456.iam.gserviceaccount.com
PROD_GOOGLE_AUTH_PRIVATE_KEY_ID=def456
PROD_GOOGLE_AUTH_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIE...\n...\ndef=\n-----END PRIVATE KEY-----\n
PROD_GOOGLE_AUTH_TOKEN_URI=https://oauth2.googleapis.com/token