AWS_ACCESS_KEY_ID=ABC123
AWS_SECRET_ACCESS_KEY=ABC123
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

DEV_NODEPING_TOKEN=ABC123
DEV_CONTACT_GROUP_NAME=Team Alerts
DEV_COUNT_LIMIT=3
DEV_PERIOD=LastMonth
DEV_SPREADSHEET_ID=ABC123

PROD_NODEPING_TOKEN=DEF456
PROD_CONTACT_GROUP_NAME=Team Alerts
PROD_COUNT_LIMIT=0
PROD_PERIOD=LastMonth
PROD_SPREADSHEET_ID=DEF456