AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

NODEPING_TOKEN=ABC123
CONTACT_GROUP_NAME=TeamAlerts
COUNT_LIMIT=3
PERIOD=LastMonth
SPREADSHEET_ID=ABC123

GOOGLE_AUTH_CLIENT_EMAIL=example@myaccount-123.iam.gserviceaccount.com
GOOGLE_AUTH_PRIVATE_KEY_ID=abc123
GOOGLE_AUTH_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIE...\n...\nabc=\n-----END PRIVATE KEY-----\n
GOOGLE_AUTH_TOKEN_URI=https://oauth2.googleapis.com/token
